body {
  background-color: lavender;
  font-family: sans-serif;
  a, a:visited { color: #f176ff; text-decoration: none; }
  a:hover { text-decoration: underline; }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

 
  }
  h1,h2,h3 {
    text-align:center;
    


    imageflex { display: flex; }
    .imageflexcontent { margin-left: 5px; margin-top: 0; }
    
    <div class="imageflex">
      <img src="entry/images/inverted_conan.jpg">
    
      <p class="imageflexcontent"> This was my first time attending <a href="https://www.msg.com/madison-square-garden" target="_self">Madison Square Garden</a> in NYC, arguably one of the most popular arenas in the entire world. I was very excited to see the artist <a href="https://en.wikipedia.org/wiki/Conan_Gray" target="_self">Conan Gray</a> perform, as I’ve been listening to his music for so many years and I’d never seen him perform live. His music is very authentic lyrically and diverse sonically. While he makes pop music, he taps into different sub categories of indie, rock, and alternative styles with his most recent album taking inspiration from the pinnacle of 80s pop. He’s also relatively known for his fashion, having one of the most liked <a href="https://www.instagram.com/conangray/p/CrvdGR7Ov3P/?img_index=1" target="_self">MET Gala looks in 2023</a>. As someone who discovered his music during his rise as a teenager, I heavily resonated with his vulnerability in retelling his personal experiences in his music. Growing up with an artist that you admire and relate to can be inspiring, which made me want to see him in person even more. Also his vocal range is phenomenal and arguably one of the most unique in the music industry. He’s quite underrated, which may seem odd to say as he’s selling out arenas but people rarely mention Conan in the pop culture space with other similar artists. </a></p>
    </div>    


    a#back-to-top {
      border: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 3.5em;
      width: 3.5em;
      bottom: -1.75em;
      right: 0;
      text-align: center;
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 47%;
      display: flex
    ;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }
    


    transition-timing-function: ease;
    transition-duration: 0.6s;
    transition-delay: 0.03s;
}

