body {
  background-color: lavender;
  font-family: sans-serif;
  a, a:visited { color: #f176ff; text-decoration: none; }
  a:hover { text-decoration: underline; }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

 
  }
  h1,h2,h3,{
    text-align:center;
    



